@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/*Shared Styles*/
.display-flex{
    display: flex;
}
.text-gray{
    color: #424242;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    font-size: 1.25rem;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 130px;
}
/*header styles*/
/*navbar related styles*/
.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav-links{

}
.nav-item{
    list-style-type:none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;

}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.brand{
    font-weight: 700;
    font-size: 3rem;
}
/*Banner Related Styles*/
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
    color: #131313;
}
.banner-description{
    font-size: 1rem;
    line-height: 26px;
    color: #727272;
}
.banner-image{
    width: 100%;
}

/*Teams related styles*/

.teams{
    align-items: center;
}
.team-image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.feature-content{
    margin-left: 130px;
    max-width: 530px;
}
.feature-title{
    font-weight: 700;
    font-size: 3rem;
}
#quick-list{
    font-weight: 500;
    color: #727272;
}
.feature-design{
    color: #FF900E;
}
.feature-description{
    font-size: 1rem;
    color: #727272;
    line-height: 26px;
    margin-bottom: 32px;
}
/*Features will enjoy styles*/
.feature-love-container{
    gap: 150px;
}
.feature-content{
    
}
.section-title{
    border-left: 5px solid #FF900E;
    padding-left: 21px;
    font-size: 3rem;
    font-weight: 700;
}
.feature-card .feature-card-title{
    font-size: 1.25rem;
    font-weight: 600;
    color: #131313;
    margin-top: 0px;
    margin-bottom: 0px;
}
.feature-description{

}
.feature-card{
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    padding: 30px;
}
.feature-image img{
   width: 100%;
}
#experience-badge{
    background-color: #FF900E;
    padding: 45px 42px;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -100px;
    margin-top: -100px;
}
#experience-year{
    font-size: 4rem;
    font-weight: 700;
}
/*Some facts related styles*/
.some-facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.fact-card{
    width: 240px;
    height: 240px;
    border:1px solid #FF900E;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* padding: 35px 45px; */
    
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}
.some-facts-description{
    max-width: 540px;
    color: #727272;
    font-size: 1rem;
    line-height: 26px;
}
.facts-title{
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 24px;
}
/*Sponsors related styles*/
.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsors-title{
    font-size: 3rem;
    font-weight: 700;
}
.sponsors-description{
    color: #727272;
    font-size: 1rem;
    line-height: 26px;
}
.our-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-between;
}
.our-companies img{
    filter: grayscale(100%);
}
/*Media queries for responsiveness*/

@media screen and (max-width: 576px){
    .navbar, .nav-links, .teams, .feature-love-container{
        flex-direction: column;
    }
    .feature-content{
        margin-left: 20px;
    }
    .team-image-container, .some-facts-container, .our-companies{
        grid-template-columns: repeat(1, 1fr);
    }
    .some-facts-container{
        justify-items: center;
        gap: 24px;
    }
    .our-companies{
        justify-items: center;
        gap: 50px;
    }
    #experience-badge{
        margin-left: 20px;
        margin-top: 20px;
    }
}

/*Media queries for tablet*/

@media screen and (min-width: 576px) and (max-width: 992px){
    .teams, .feature-love-container{
        flex-direction: column;
    }
    .feature-content{
        margin-left: 50px auto;
    }
    .some-facts-container{
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 24px;
    }
    .our-companies{
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 50px;
    }
    #experience-badge{
        margin-left: 20px;
        margin-top: 20px;
    }
}